* {
	margin: 0px;
	padding: 0px;
}

body,html {
	width: 100%;
	height: 100%;
	text-align: center;
}

.block {
	height: 40%;
}

.input-large {
	width: 100% !important;
	height: 44px !important;
	line-height: 30px !important;
	font-size: 17.5px !important;
}

/*
 Global setting
*/
* {
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	
	/*color:#9CF8B5 !important;*/
}
body,html {
	width: 100%;
	height: 100%;
}

hr {
	margin: 0;
}
/*
  End Global setting
*/

/* font setting */
p,a,.display,.hourNum,.minNum,div.date, h3
{
	color:#FD7800 !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default 
{
	color:#C0C0C0 !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active 
{
	color:#eb8f00 !important;
}
ul a,div.date
{
	font-size:17px;
	font-family:cursive !important;
}

.top a , a.btn.btn-large.btn-primary
{
	color:#ffffff !important;
}


/* end font*/


/* background color setting*/

body
{
	background-color:#FEF4D8;
}

ul
{
	background-color:#FEFADE;
}
div.top 
{
	background-color:#D25502;
}

	/*override part*/

.label-info,.label
{
	background-color:#E68906;
}

.btn-info,.btn-primary{
	background-color:#E7E2A8;
	background-image:linear-gradient(to bottom, #E7E2A8, #E68906);
	background-image:-webkit-linear-gradient(top, #E7E2A8, #E68906);
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] 
{
	background-color:#E68906;	
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] 
{
	background-color:#E68906;	
}

.restaurant-header 
{
	background-color:#FEFADE !important;
}

/* end background color setting*/