* {
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, arial, freesans, clean, sans-serif !important;
}

body,html {
	width: 100%;
	height: 100%;
}

hr {
	margin: 0;
}

table {
	margin: auto;
}

.top {
	width: 100%;
	height: 100px;
	background-color: #F00;
}

.restaurant {
	width: 80%;
	display: inline-block;
}

input[type="button"] {
	width: 10%;
	margin-left: 10%;
	display: inline-block;
}

.events {
	margin-left: 10%;
	width: 82%;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.event {
	margin-top: 10px;
	margin-bottom: 10px;
}

.event>* {
	height: 80px;
	width: 80px;
	text-align: center;
}

.head {
	height: 80px;
	width: 80px;
}

.orgDiv {
	padding-top: 13px;
}

.timeDiv {
	padding-top: 11px;
}

.hourNum,.minNum {
	margin-top: 6px;
	display: inline-block;
	width: 40%;
}

.display {
	margin-top: 6px;
	margin-left: 10%;
	width: 80%;
	height: 30%;
}

.countDiv {
	padding-top: 13px;
}

.join {
	width: 70%;
	margin-top: 25%;
}

.modal-body {
	text-align: center;
}

.table-label {
	margin-right: 5px;
}

.timepick {
	display: block;
	font-size: 12px;
}

.modal-input[type="text"] {
	margin-top: 10px;
	height: 12px;
	line-height: 18px;
	font-size: 10px;
}
