/*
 Global setting
*/
* {
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	
	/*color:#9CF8B5 !important;*/
}
body,html {
	width: 100%;
	height: 100%;
}

hr {
	margin: 0;
}
/*
  End Global setting
*/

/* font setting */
p,a,.display,.hourNum,.minNum,div.date, h3
{
	color:#FD7800 !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default 
{
	color:#C0C0C0 !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active 
{
	color:#eb8f00 !important;
}
ul a,div.date
{
	font-size:17px;
	font-family:cursive !important;
}

.top a 
{
	color:#ffffff !important;
}

/* end font*/


/* background color setting*/

body
{
	background-color:#FEF4D8;
}

ul
{
	background-color:#FEFADE;
}
div.top 
{
	background-color:#D25502;
}

	/*override part*/

.label-info,.label
{
	background-color:#E68906;
}

.btn-info,.btn-primary{
	background-color:#E7E2A8;
	background-image:linear-gradient(to bottom, #E7E2A8, #E68906);
	background-image:-webkit-linear-gradient(top, #E7E2A8, #E68906);
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] 
{
	background-color:#E68906;	
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] 
{
	background-color:#E68906;	
}

.restaurant-header 
{
	background-color:#FEFADE !important;
}

/* end background color setting*/

.msg {
	position:fixed !important;
	left:40%;
	top:40%;
	z-index:10;
}

.inviteMsg {
	position:fixed !important;
	left:40%;
	top:40%;
	z-index:10;
}

table {
	margin: auto;
}

.top {
	width: 100%;
	height: 100px;
	background-color:#F00;
}

.logout {
	float:right;
	margin:0 30px 0 10px;
	padding:10px 10px 10px 10px;
	font-weight:bolder;
}

.topTag {
	float:right;
	margin:0 10px 0 10px;
	padding:10px 10px 10px 10px;
	font-weight:bolder;
}

.alert {
	position: absolute;
	margin-left: -30px;
	margin-top: 5px;
}

.date {
	float: right;
	height: 38px;
	margin-right: 30px;
}

#datepicker {
	margin-top: 5px;
	width: 80px !important;
}

.restaurant {
	width: 80%;
	display: inline-block;
}

input[type="button"] {
	width: 10%;
	margin-left: 10%;
	display: inline-block;
}

.events {
	margin-left: 10%;
	width: 82%;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	background-color:#E7E2A8 !important;
}

.event {
	margin-top: 10px;
	margin-bottom: 10px;
	border-style:dashed;
	border-width:medium;
	border-color:#E68906;
}

.event>* {
	height: 80px;
	width: 80px;
	text-align: center;
}

.head {
	height: 80px;
	width: 80px;
}

.orgDiv {
	padding-top: 13px;
}

.eNameDiv{
	padding-top: 13px;
}
.timeDiv {
	padding-top: 11px;
}

.hourNum,.minNum {
	margin-top: 6px;
	display: inline-block;
	/*width: 40%;*/
}

.display {
	margin-top: 6px;
	margin-left: 10%;
	width: 80%;
	height: 30%;
}

.countDiv {
	padding-top: 13px;
}

.join {
	width: 70%;
	margin-top: 25%;
}

.modal-body {
	text-align: center;
}

.table-label {
	margin-right: 5px;
}

.timepick {
	display: block;
	font-size: 12px;
}

.modal-input[type="text"] {
	margin-top: 10px;
	/*height: 14px;*/
	line-height: 18px;
	/*font-size: 12px;*/
}

.error {
	margin-left: 5px;
	padding: 5px 5px 5px 5px;
	font-size: 10px;

}

#inviteError {
	margin-left: 40%;
}


/* Date picker setting*/
#ui-datepicker-div table
{
	background-color:#FEF4D8;
}
#ui-datepicker-div span
{
	color:#D25502;
}
