.description {
    width: 100%;
    background-color: #FFFFFF;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    color:#E68906;
    font-size:17px;
	font-weight:bold;
}

.restaurantName {
	text-align:center;
	height:30px;
	inline-height:30px;
	vertical-align: middle;
	background-color:#E68906;
}

.restaurant {
	color:#ffffff !important;
	font-size:17px;
	font-weight:bold;
}

.events,.event {
	width:99.5% !important;
	margin:0;
}


.unreadEvents {
	margin-top: 30px;
	margin-bottom: 30px;
}

.second {
	margin-top:50px;
}